body {
	background: 9DA1A7 ; 
	color :selver;
	fond-familty: 'Raleway'sans-serif;
	font-size: 17px;
}
h1{
color : 74959A ;
font-family: 'Roboto', sans-serif;
font-weight: 3000;
font-spacing: 10px;
}
h2 {
  color: 98B4AA;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
	color :#6B72E1 ;
	font-weight:bold; 
}
a:hover {
	color: black ; 

}
.img-circle { 
  border-radius: 50%;
}
.img-bordered {
  border: 1px solid black ;
}
#donald-nephews li {
  color: green;
}
.container{
	width: 700px;
	margin: 40px auto ;

}
@media (max-width: 760px){
	.container{
		width: 600px;
	}
}

@media (max-width: 500px){
	.container{
		width: 400px;
	}
}
.card-white{
	background: white;                         
	padding: 20px 30px ;                             
	border-radius: 8px;     
	margin: 59px auto ;                  
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	text-align: center;

}
.btn-bleu{
	 background-color: #6B72E1;
	 color: white;
	 padding: 15px 20px;
	 border-radius: 4px;
}
.btn-bleu:hover {
	background-color: black;
	color: white ; 
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
		display: inline;
		padding: 0px;
}
.list-inline i{
	font-size: 50px;
	color: rgb(230,230,230);
}
.list-inline i:hover{
	color: black;
}
#introduction p {
	margin-bottom: 40px;

}
